@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  @apply text-white font-medium;
}

.button-blue {
  @apply bg-blue-500 hover:bg-blue-600 border border-black;
}

.button-green {
  @apply bg-[#61A91A] hover:bg-green-600;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../assets/fonts/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #e5e5e5;
}
